@model Mephist.Models.Employee
@using Mephist.Models.Enums
@{
    ViewData["Title"] = "SmallProfile"; 
    int exmasTicketsCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.ExamTickets).Count();
    int homeworkCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.Homework).Count();
    int labCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.LaboratoryJournal).Count();
    int lecturesCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.Lectures).Count();
    int sprusCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.CheatSheets).Count();
    int termPapersCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.TermPaper).Count();
    int otherCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.Other).Count();

}

<tr>
    <td>
        <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Id">@Model.FullName</a>
        <br />
        <img src="@Model.GetAvatarPath()" style="height: 100px; " />

    </td>
    <td>
        @foreach (var position in Model.Positions)
        {
            <p>@position</p>
        }
    </td>
    <td>
        @foreach (var department in Model.Departments)
        {
            <p>@department</p>
        }
    </td> 
    <td>
        @if (Model.Subjects!=null) foreach (var subjects in Model.Subjects)
        {
            <p>@subjects</p>
        }
    </td>
    <td>
        <!--
            <ul class="list-group list-group-flush">
            @if (exmasTicketsCount > 0)
            {
                <li class="list-group-item"><a href="#">Билеты (@exmasTicketsCount)</a></li>
            }
            @if (homeworkCount > 0)
            {
                <li class="list-group-item">
                    <a href="#">ДЗ (@homeworkCount)</a>
                </li>
            }
            @if (labCount > 0)
            {
                <li class="list-group-item"> <a href="#">Лабараторные работы (@labCount)</a></li>
            }
            @if (lecturesCount > 0)
            {
                <li class="list-group-item">
                    <a href="#">Лекции (@lecturesCount)</a>
                </li>
            }
            @if (sprusCount > 0)
            {
                <li class="list-group-item">
                    <a href="#">Шпоры (@sprusCount)</a>
                </li>
            }
            @if (termPapersCount > 0)
            {
                <li class="list-group-item">
                    <a href="#">Курсовые работы (@termPapersCount)</a>
                </li>
            }
            @if (otherCount > 0)
            {
                <li class="list-group-item">
                    <a href="#">Другое (@otherCount)</a>
                </li>
            }
        </ul>
        -->
        <div class="row container">
            @if (exmasTicketsCount > 0)
            {
                <div class="col-12 col-lg-6"><a href="#">Билеты (@exmasTicketsCount)</a></div>
            }
            @if (homeworkCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">ДЗ (@homeworkCount)</a>
                </div>
            }
            @if (labCount > 0)
            {
                <div class="col-12 col-lg-6"> <a href="#">Лабараторные работы (@labCount)</a></div>
            }
            @if (lecturesCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Лекции (@lecturesCount)</a>
                </div>
            }
            @if (sprusCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Шпоры (@sprusCount)</a>
                </div>
            }
            @if (termPapersCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Курсовые работы (@termPapersCount)</a>
                </div>
            }
            @if (otherCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Другое (@otherCount)</a>
                </div>
            }
        </div>
    </td>
    <td>
        <a asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Id">Читать отзывы</a>
    </td>
</tr>
