@using Mephist.Models.Enums;
@{
    ViewData["Title"] = "GetMaterials";

}

<div class="container">
    <h1>Учбеные материалы</h1>
    <div class="mb-2">
        <form class="row g-3" method="get" asp-action="GetMaterials">
            <div class=" form-floating col-6">
                <input type="text" class="form-control" name="name" id="floatingName" placeholder="name@example.com">
                <label for="floatingName">Название</label>
            </div>
            <div class="col-2">
                <button class="btn btn-outline-primary h-100 w-100" type="submit">Найти</button>
            </div>

            <div class="form-floating col-8">
                <input type="text" class="form-control" name="employee" id="floatingEmployee" placeholder="name@example.com">
                <label for="floatingEmployee">Преподаватель</label>
            </div>
            <div class="col-12 col-md-6">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="lectures">
                    <label class="form-check-label">Лекции</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="homeworks">
                    <label class="form-check-label">Домашние задания</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="cheatSheets">
                    <label class="form-check-label">Шпоры</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="labs">
                    <label class="form-check-label">Лабораторные работы</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="tickets">
                    <label class="form-check-label">Билеты</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="courseWorks">
                    <label class="form-check-label">Курсовые работы</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="others">
                    <label class="form-check-label">Прочее</label>
                </div>

            </div>

        </form>
    </div>
    <h4><a asp-action="AddMaterial">Добавить</a></h4>
    <table class="table">
        <thead>
            <tr>
                <td scope="col">Название</td>
                <td scope="col">Предмет</td>
                <td scope="col">Тип</td>
                <td scope="col">Преподаватель</td>
                <td scope="col">Описание</td>
            </tr>
        </thead>
        <tbody class="table-striped">
            @foreach (EducationalMaterial em in ViewBag.EducationalMaterialsList)
            {
                <tr>
                    <td>
                        <label>@em.Name</label>
                        <a asp-action="Download" asp-controller="EducationalMaterials" asp-route-id="@em.Id">Скачать</a>
                    </td>
                    <td>@em.Subject</td>
                    <td>
                        @{
                            var type = em.Type switch
                            {
                                EducationalMaterialType.ExamTickets => "Билеты",
                                EducationalMaterialType.Homework => "Домашнее задание",
                                EducationalMaterialType.LaboratoryJournal => "Лабораторная работа",
                                EducationalMaterialType.Lectures => "Лекции",
                                EducationalMaterialType.Other => "Другое",
                                EducationalMaterialType.CheatSheets => "Шпоры",
                                EducationalMaterialType.TermPaper => "Курсовая работа",
                            };
                        }
                        @type
                    </td>
                    <td>@em.Employee.FullName</td>
                    <td>@em.Description</td>
                    @if (User.IsInRole("admin"))
                    {
                        <td>
                            <form method="post" asp-controller="EducationalMaterials" asp-action="Delete">
                                <input type="hidden" value="@em.Id" name="id"/>
                                <input type="hidden" value="" name="returnUrl" />
                                <button class="btn-danger btn" type="submit">Удалить</button>
                            </form>
                        </td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>