@model Mephist.Models.Employee
@using Mephist.Models.Enums
@{
    ViewData["Title"] = "SmallProfile";
    int exmasTicketsCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.ExamTickets).Count();
    int homeworkCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.Homework).Count();
    int labCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.LaboratoryJournal).Count();
    int lecturesCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.Lectures).Count();
    int sprusCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.CheatSheets).Count();
    int termPapersCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.TermPaper).Count();
    int otherCount = Model.EducationalMaterials.Where(em => em.Type == EducationalMaterialType.Other).Count();

}

<div style="" class="small-profile container-fluid row border-top">
    <div class="col-md-12 col-xl-4 ">
        <a class="nav-link" asp-controller="Employee" asp-action="Details" asp-route-id="@Model.Id">
            <div class="d-flex flex-column">
                <span class="fs-4 text-center">@Model.FullName</span>
                @foreach (var position in Model.Positions)
                {
                    <span class="text-secondary fst-italic text-center">@position</span>
                }

                <div class="d-flex justify-content-center">
                    <img class="img-thumbnail" src="@Url.Content(Model.GetAvatarUrl())" style="height: 210px; " />
                </div>

            </div>
        </a>
    </div>
    <div class="col-md-4 col-xl-2">
        <p><strong class="text-center">Кафедры</strong></p>
        @foreach (var department in Model.Departments)
        {
            <span>@department</span><br />
        }
    </div>
    <div class="col-md-4 col-xl-2">
        <p><strong class="text-center">Дисциплины</strong></p>
        @if (Model.Subjects != null)
        {
            foreach (var subjects in Model.Subjects)
            {
                <span>@subjects</span><br />
            }
        }

    </div>
    <div class="col-md-4 col-xl-4">
        <p><strong class="text-center">Учебные материалы</strong></p>
        <div class="container">
            @if (exmasTicketsCount > 0)
            {
                <div class="col-12 col-lg-6"><a href="#">Билеты (@exmasTicketsCount)</a></div>
            }
            @if (homeworkCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">ДЗ (@homeworkCount)</a>
                </div>
            }
            @if (labCount > 0)
            {
                <div class="col-12 col-lg-6"> <a href="#">Лабараторные работы (@labCount)</a></div>
            }
            @if (lecturesCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Лекции (@lecturesCount)</a>
                </div>
            }
            @if (sprusCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Шпоры (@sprusCount)</a>
                </div>
            }
            @if (termPapersCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Курсовые работы (@termPapersCount)</a>
                </div>
            }
            @if (otherCount > 0)
            {
                <div class="col-12 col-lg-6">
                    <a href="#">Другое (@otherCount)</a>
                </div>
            }
            @if(Model.EducationalMaterials.Count==0)
            {
                <span>Ничего нет :(</span><br />
                <a asp-controller="EducationalMaterials" asp-action="AddMaterial">
                    <span>Добавить</span>
                </a>
            }
        </div>
    </div>
</div>
